Codewars/.vs/
Codewars/Codewars/bin/Debug/Codewars.exe
Codewars/Codewars/obj/Debug/Codewars.pdb
Codewars/Codewars/bin/Debug/Codewars.pdb
Codewars/Codewars/obj/
Codewars/Codewars/bin/Debug/Codewars.exe.config
